:root {
  --black: #191414;
  --green: #1db954;
  --white: #ffffff;
  --grey: #989898;
}

.profile {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePhoto {
  max-width: 8rem;
  max-height: 8rem;
  overflow: hidden;
  border-radius: 50%;
}

.profilePhotoIMG {
  width: 100%;
}

.profileName {
  font-size: 1rem;
}

.profile-CreateLink {
  position: relative;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}

/* .profile-CreateLink-button {
  background-color: var(--white);
  color: black;
  width: 15rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  border-radius: 1rem;
} */

.profile-CreateLink-button {
  background-color: var(--white);
  color: black;
  width: 15rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  transition: box-shadow 0.3s ease;
  box-shadow: none; /* Initial state with no shadow */
}

.profile-CreateLink-button:hover {
 color:black;
 transition: 0.6s;
}

.profile-CreateLink-button:active {
  box-shadow: none; /* Remove shadow when clicked */
}

.bsds:hover{
background-color: rgb(62,62,62);
color:white;
cursor:pointer;
transform: sacle(1.03);
transition: all 1s ease;
display:flex;

}

.authorName {
  display: inline;
}

.entries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.entries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.entry {
  width: 25%; /* Adjust as per your requirement */
  /* Add any other necessary styling */
}

